* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bebas Neue', cursive;
  background-color: #f4a261;
}

.container {
  width: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container h1 {
  padding: 2rem 0;
  font-size: 4rem;
}

.container h2 {
  padding-bottom: 2rem;
  font-size: 3rem;
}

.container p {
  padding-bottom: 2rem;
  font-size: 5rem;
}

button {
  cursor: pointer;
  padding: 1rem;
  border-radius: 10%;
  height: auto;
  width: 8rem;
  background: none;
  background-color: #e76f51;
  border: 1px solid black;
}

.buttons {
  width: 100vh;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .buttons {
    width: 75vh;
    display: flex;
    justify-content: space-evenly;
  }
}
